PORT=3001
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=reservapp
TEST_DB_NAME=reservapp_test
FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
CORS_ORIGINS=http://localhost:3000
UPLOADS_DIR=uploads
TEST_UPLOADS_DIR=.test-uploads
PEXELS_API_KEY=
